################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LearningDotNetCoreApp/LearningDotNetCoreApp/obj
/LearningDotNetCoreApp/LearningDotNetCoreApp/bin/Debug/netcoreapp3.1
/LearningDotNetCoreApp/.vs/LearningDotNetCoreApp
/LearningDotNetCoreApp/LearningDotNetCoreApp/wwwroot/lib
/LearningDotNetCoreApp/LearningDotNetCoreApp/bin/Release/netcoreapp3.1
/LearningDotNetCoreApp/LearningDotNetCoreApp/Migrations
