



<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Welcome to BooksStore</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        <p><a href="#" class="btn btn-primary my-2">Search books</a></p>
    </div>
</div>
<div class="bg-light">
    <div class="container">
        <h3>Top books</h3>

        @*@await Component.InvokeAsync("TopBooks")*@
        <vc:top-books count="3"></vc:top-books>
      
    </div>
</div>
